<?xml version="1.0" encoding="ISO-8859-1"?>                
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
    <context-param>
    	<param-name>db_url</param-name>
    	<param-value>jdbc:mysql://localhost:3306/store</param-value>
    </context-param>
    <context-param>
    	<param-name>db_user</param-name>
    	<param-value>root</param-value>
    </context-param>
    <context-param>
    	<param-name>db_pass</param-name>
    	<param-value>yjc</param-value>
    </context-param>
    
    <listener>
    	<listener-class>org.store.listeners.ApplicationContextListener</listener-class>
    </listener>
    
    <servlet>
    	<servlet-name>itemsListController</servlet-name>
    	<servlet-class>org.store.controllers.ItemsListServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>itemsListController</servlet-name>
    	<url-pattern>/items.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>itemEditController</servlet-name>
    	<servlet-class>org.store.controllers.ItemEditServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>itemEditController</servlet-name>
    	<url-pattern>/itemEdit.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>itemRemoveController</servlet-name>
    	<servlet-class>org.store.controllers.ItemRemoveServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>itemRemoveController</servlet-name>
    	<url-pattern>/itemRemove.do</url-pattern>
    </servlet-mapping>  

	<servlet>
		<servlet-name>storesListController</servlet-name>
		<servlet-class>org.store.controllers.StoresListServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>storesListController</servlet-name>
		<url-pattern>/stores.do</url-pattern>
	</servlet-mapping>
    
</web-app>

